.dart_tool/
.packages
pubspec.lock

charts_flutter/example/ios/Flutter/flutter_export_environment.sh
.idea
.bundle
_site

build/
**/ios/.generated/
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*
